:root {
    --green: #3a6756;
    --light-bluegrey: #e2e8f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(100px, 260px) 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    background-color: var(--green);
    color: white;
    grid-row: 1 / 3;
    grid-template-rows: 50px 250px 175px;
    gap: 40px;
    padding: 15px;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: 1px;
}

.sidebarHeader > img {
    width: 60px;
    height: 60px;
    margin-left: -10px;
}

.nav, .settings {
    align-items: center;
}

.navItem, .settingsItem {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.header {
    box-shadow: 5px 5px 20px #00000020;
    z-index: 10;
}

.cardContainer {
    background-color: var(--light-bluegrey);
}